@charset "UTF-8";

main {
    background-color: var(--c11);
    color: var(--w);
}

main .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

main .container>picture img {
    width: 100%;
}

main .container>.conteudo {
    display: grid;
    gap: 20px;
}

main .container>.conteudo p,
main .container>.conteudo span {
    color: var(--c5);
}

main .container>.conteudo .botao-container {
    display: flex;
    gap: 20px;
}

main .container>.conteudo .botao-container div {
    display: grid;
    align-content: space-around;
}

main .container>.conteudo .botao-container span {
    display: flex;
    gap: 10px;
    background-color: var(--c12);
    padding: 5px;
    border-radius: 4px;
    max-width: max-content;
}

main .vantagens>h2 {
    margin-bottom: 10px;
}

main .vantagens ul {
    background-color: var(--c12);
    border-radius: 4px;
    padding: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
}

main .vantagens ul li {
    display: grid;
    gap: 5px;
}

main .ficha-tecnica h2 {
    margin-bottom: 10px;
}

main .ficha-tecnica .conteudo {
    background-color: var(--c12);
    padding: 32px;
}

main .ficha-tecnica .conteudo p {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

main .ficha-tecnica .conteudo p:not(:last-child) {
    border-bottom: 1px solid var(--c11);
}

main .ficha-tecnica .conteudo p span {
    color: var(--c6);
}

@media only screen and (max-width: 1000px) {
    main .container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 500px) {
    main .container>.conteudo .botao-container {
        flex-direction: column;
    }
}

section.bike-list .container:not(h2) {
    max-width: 1200px;
}

section.seguro {
    background-color: var(--c11);
    box-shadow: inset 0px 120px 0px 0px var(--w), inset 0px -120px 0px 0px var(--c12);
    color: var(--w);
    margin-top: 120px;
}

section.seguro .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0 20px;
}

section.seguro .container picture img {
    height: 100%;
    object-fit: cover;
}

section.seguro .container .conteudo {
    display: grid;
    gap: 20px;
    padding: 180px 0;
    align-self: start;
}

@media only screen and (max-width: 900px) {

    section.seguro {
        box-shadow: inset 0px -120px 0px 0px var(--c12);
    }

    section.seguro .container {
        grid-template-columns: 1fr;
    }

    section.seguro .container picture {
        order: 2;
    }

    section.seguro .container .conteudo {
        padding: 40px 0 0;
    }

}