@charset "UTF-8";

.botao {
    display: block;
    background: linear-gradient(#ffbf00, #f2a50c);
    max-width: max-content;
    padding: 16px 32px;
    font-family: var(--poppins);
    border-radius: 4px;
    color: var(--p5);
    font-weight: 600;
}

.botao:hover {
    background: linear-gradient(#ffb60d, #e59317);
}